/* Write your global styles here, in SCSS syntax. Variables and mixins from the src/variables.scss file are available here without importing */ /* Import only what you need from Bulma */
@import 'bulma/sass/utilities/_all';
@import 'bulma/sass/base/_all';
@import 'bulma/sass/elements/_all';
@import 'bulma/sass/form/_all';
@import 'bulma/sass/components/_all';
@import 'bulma/sass/grid/_all';
@import 'bulma/sass/helpers/_all';
@import 'bulma/sass/layout/_all';


main {
min-height: 90vh;
}
header {
	background-color: $secondary-color;
	color: $light;
	.navbar-brand {
		background-color: $secondary-color;
		a {
			color: $dark;
		}
	}
	.navbar-burger {
		color: $light-color;
	}
}

.footer {
    background-color: $secondary-color;
    
	strong {
        color: $light-color;
	}
}


td {
 img{
    height: 50px;
 }
}

.top {
    display: flex;
    align-items: center;
    img{
        height: 150px;

    }
}


.spinner-container{
    position: absolute;
    top: -50px;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(99, 99, 99, 0.418);
    img {
        position: absolute;
        height: 5rem;
        top: 50%;
        left: 50%;
        top: 50%;
        transform: translate(-50% , -50%);
    }
}
