/* Variables and mixins declared here will be available in all other SCSS files */ /* https://github.com/jgthms/bulma/issues/1293 */
$body-overflow-y: auto;
$primary-color: #C84B31;

$secondary-color: #aabfe2;
$dark-color: #0c0c0c;
$light-color: #8490a0;